:root{
    --main-color: #00599f;
    --secundary-color: #23b9f5;
}
  

main, footer {
    padding-left: 300px;
}

h2,h3,h4{
    font-size: medium;
}


.contenedor-sidenav{
    margin-top: 80px;
}
.modDivider{
    width: 90%;
    position: relative;
    left: 5%;
}

.sidenav{
    z-index: 0;
}

.tabs .indicator {
    background-color: #455a64;
}

.tabs .tab a:focus.active {
    background-color: #cfd8dc;
}

.labelMod{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.labelMod>label{
    color: #263238;
    font-size: 1.5rem;
}
.servicios-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

::-webkit-scrollbar {
    display: none;
}
/* Media Querys */

@media only screen and (max-width : 992px) {

    .sidenav{
        z-index: 1000;
    }
    header, main, footer {
        padding-left: 0;
    }
  
  }


